

body{
    background-color: rgba(197, 194, 194, 0.685);
    
}

h2{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
h3{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}



#paragraph{
    line-height: 30px;
    font-family: sans-serif;
}